<div tpl-if="!$contacts" id="content">
    <form method="POST" action="?cmd=add_contact">


        <table class="form-table">
            <tbody>
            <tr>
                <td>Eesnimi:</td>
                <td><input name="firstName" value="{{$contact->firstName}}"></td>
                <td><input type="hidden" name="contactId" value="{{$contact->id}}"></td>
            </tr>
            <tr>
                <td>Perekonnanimi:</td>
                <td><input name="lastName" value="{{$contact->lastName}}"></td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td><input name="phone1" value="{{$contact->phones[0]}}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input name="phone2" value="{{$contact->phones[1]}}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input name="phone3" value="{{$contact->phones[2]}}"></td>
            </tr>
            <tr>
                <td colspan="2"><br><input name="submitButton" type="submit" value="Salvesta"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>