<table tpl-if="$contacts" class="list-table">
    <thead>
    <tr>
        <th scope="col">Eesnimi</th>
        <th scope="col">Perekonnanimi</th>
        <th scope="col">Telefon</th>
    </tr>
    </thead>
    <tbody>
    <tr tpl-foreach="$contacts as $contact">
<!--        <form method="GET" action="?cmd=edit_page">-->
<!--        <th scope="col">-->
<!--            <input name="contact_id" type="hidden" value="{{$contact->id}}">-->
<!--&lt;!&ndash;            <input type="submit" value="{{$contact->firstName}}">&ndash;&gt;-->
<!--            <a type="submit" name="person_id" href="{{$contact->id}}">-->
<!--                {{$contact->firstName}}</a>-->
<!--        </th>-->
<!--        </form>-->
        <th scope="col"><a href="?cmd=edit_page&amp;person_id={{$contact->id}}">{{$contact->firstName}}</a></th>
        <th scope="col">{{$contact->lastName}}</th>
        <th scope="col">{{$contact->getPhoneNumbers()}}</th>
    </tr>
    </tbody>
</table>
